<h1>Product details</h1>
<div class="wrapper">

<div class="fluid">

  <p>Product Name  :    <%=@product.name %> <br></p>
  <p>Product Price :    <%=@product.price %>  Rupees <br></p>
  <p>Product Description :  <%=@product.description %><br></p>
  <p>Available Quantity  :  <%=@product.available_quantity %> Kg<br></p>
</div>


<%=form_for @review , url:{action: :create } do |f|%>

  <%=f.number_field :rating , placeholder: "Rating",  min: 1 , max: 5 , style:"width: 60%"%>
  <br><br>

  <%=f.text_area :comment , placeholder: "add a comment here" %>

  <%=f.number_field :product_id , value: @product.id , type: :hidden%>
  <%=f.number_field :order_id , value:params[:order_id] ,type: :hidden %>

<br><br>
  <%=f.submit 'Post Comment' , class:"btn btn-secondary"%>


<%end %>
<br>

<p><%=link_to 'Back' , cart_order_path(id: params[:order_id]) , class:"btn btn-secondary"%></p>

</div>
