
<h1>Product details</h1>
<div class="fluid">

  <p>Product Name  :    <%=@product.name %> <br></p>
  <p>Product Price :    <%=@product.price %>  Rupees <br></p>
  <p>Product Description :  <%=@product.description %><br></p>
  <p>Available Quantity  :  <%=@product.available_quantity %> Kg<br></p>
</div>
<p><%=link_to 'Back' , product_index_path , class:"btn btn-secondary"%></p>



