<div class="container-fluid">

  <%if @cartitems.empty? %>

    <h1>You haven't added any product to cart !</h1>

    <%else %>
  <h1>Cart List</h1>
  <table class="table table-striped table-hover ">
    <thead class=" table-dark">

    <tr>
<!--      <th>Cart Id</th>-->
      <th>Product Name</th>
      <th>Quantity(kg)</th>
      <!--      <th>Seller id</th>-->
      <th>Total Price</th>
      <th>Edit</th>
      <th>Remove</th>
<!--      <th></th>-->
    </tr>
    </thead>
    <%@cartitems.each do |cartitem| %>
      <tr>
<!--        <td><%#=cartitem.cart_id %></td>-->
        <td><%=cartitem.product&.name %></td>
        <td><%=cartitem.quantity %></td>
        <!--        <td><%#=product.seller_id %></td>-->
        <td><%=cartitem.price %></td>
        <td><%=link_to 'Edit' , edit_cart_path(cartitem.id) %></td>
        <td><%=link_to 'Delete', cart_path(cartitem.id), data: {turbo_confirm:'Are You Sure ? Do you want to remove this product from cart ', turbo_method: :delete} %></td>
<!--        <td><%#= link_to 'Buy' , new_cart_order_path(cartitem.id, price: cartitem.price), method: :post %></td>-->
      </tr>
    <% end %>
  </table>
</div>
  <%end %>





<br>
<%=link_to 'Back', product_index_path , class:"ui inverted blue button"%>
<%unless @cartitems.empty? %>
<%=link_to 'Place Order' , cart_order_index_path(customer_id: current_user.accountable.id ,cart_id:current_user.accountable.cart.id  ),  data: { turbo_confirm: "confirm proceed to  purchase ", turbo_method: :create} ,class:"btn btn-secondary" %>
<%end %>