<h2>Add product to cart</h2>
<br>
<br>
<%=form_for @cartitem ,url:{controller: :cart , action: :create} do |f|%>

  <% if @cartitem.errors.any? %>
    <%=render "home/error" , model: @cartitem %>
  <% end %>

  <div class="field form-group">
    <%#=f.label :'product id' %>
    <%= f.number_field :product_id, value: params[:product_id], type: :hidden%>
  </div>

<br>
  <div class="field form-group">
    <%=f.label :quantity %>
    <%=f.number_field :quantity ,value: 1 %>
  </div>

<br>
  <div class="field form-group">
    <%#=f.label :price %>
    <%=f.number_field :price , value: params[:price]  , type: :hidden%>
  </div>

<br>

  <div class="field form-group">
    <%= f.submit 'Add to cart', class:"btn btn-secondary" %>
  </div>

  <br>
<%=link_to 'Back' , product_index_path , class:"btn btn-secondary"%>

<%end %>
