
<div class="wrapper">

  <h1>Sign up !</h1>
  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="container-fluid">

      <div class="field">
        <!--        <%#= f.label :email %><br />-->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <br>

      <div class="field">
        <%#= f.label :password %>
        <%# if @minimum_password_length %>
        <!--          <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
        <!--        <%# end %><br />-->
        <%= f.password_field :password,autofocus: true,  autocomplete: "new-password"  , placeholder: "Password"%>
      </div>
      <br>

      <div class="field">
        <!--        <%#= f.label :password_confirmation %><br />-->
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder: "Re-Enter Password"%>
      </div>
      <br>

      <div class="field">
        <%= f.select :role ,[['customer','customer'],['seller','seller']] %>
      </div>
<br>


      <!--details-->
      <%= fields_for :details do |d| %>

        <%=d.text_field :name  ,placeholder: "Name" %>
        <br>


        <%=d.text_field :mbl_no ,placeholder: "Mobile number" %>
        <br>

        <%=d.number_field :age ,placeholder: "Age" %>
        <br>
      <%end %>
      <!--    <br>-->

      <!-- address-->
      <%= fields_for :address do |a| %>

        <%=a.text_field :door_no ,placeholder: "Door no"  %>
        <br>


        <%=a.text_field :street ,placeholder: "Street " %>
        <br>

        <%=a.text_field :district ,placeholder: "District" %>
        <br>

        <%=a.text_field :state ,placeholder: "State" %>
        <br>

        <%=a.number_field :pincode ,placeholder: "Pincode" %>
        <br>
      <%end %>
      <br>

      <center>
        <div class="action" style="width: 200px">
          <%= f.submit "Sign up" , class:"ui blue submit button" %>
        </div>
      </center>
  <% end %>
  <br>

  <div class="member center" >

    Already have an account ! &nbsp <p> </p> <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"> <%=link_to "Login here" , new_user_session_path %> <i class="sign in icon" style="visibility: visible;"></i></a>

  </div>

  <%#= render "devise/shared/links" %>
  </div>

</div>

<br><br><br>


<!-- <i class="sign in alternate icon" style="visibility: visible;"></i> -->