<div class="container-fluid">
  <h1>Order List</h1>
  <table class="table table-striped table-hover ">
    <tr>
      <th>Product name</th>
      <th>Quantity</th>
      <th>Price</th>

    </tr>
    <%@orderitems.each do |orderitem| %>
      <tr>
        <td><%=orderitem.product.name %></td>
        <td><%=orderitem.quantity %></td>
        <td><%=orderitem.price %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>

<%=link_to 'Proceed to payment', cart_order_payment_index_path(order_id: params[:id]) , class:"btn btn-secondary"%>
<%=link_to 'Back to cart', cart_index_path , class:"btn btn-secondary"%>
