<div class="wrapper">
  <h1>Edit product</h1>
  <br>

  <%= form_for @product ,url:{action: :update} do |f|%>
    <div class="container-fluid">

      <div class="field">

        <%= f.text_field :name, placeholder: "Name",  value:@product.name %>
        <br><br>

        <%= f.text_field :price ,placeholder: "Price" , value:@product.price %>
        <br><br>

        <%= f.text_field :available_quantity ,placeholder:"Available Quantity",  value:@product.available_quantity%>
        <br><br>

        <%= f.text_field :description,placeholder: "Description" ,  value:@product.description %>
        <br><br>

        <%= f.text_field :category ,placeholder: "Category" ,  value:@product.category%>
        <br><br>

        <%= f.file_field :image %>
        <br><br>

        <div>

          <%=f.submit 'Update' , data:{turbo_method: :update}, class:"large ui green button" , style:"width: 120px"%>
        </div>

  <% end  %>
  <br>
  <br>
  <div>
    <%=link_to 'Back',product_path(id: @product.id)  , class:"large ui grey button" , style:"margin-right: 50px ; width: 150px"%>
  <%=link_to 'Delete product', product_path(@product), data: {turbo_confirm:'Are You Sure ? Do you want to delete this product ', turbo_method: :delete} ,class:"large ui red button", style:"width: 150px"%>

  </div>

  </div>
  </div>
</div>