<div class="container-fluid">

  <%if @products.nil? %>

    <h1> You haven't added any Product yet ..! </h1>

  <%else %>

  <h1>Product List</h1>


    <% @products.each do |product| %>

        <div class="card border-info mb-3" style="max-width: 18rem;">
          <%if product.image.attached? %>

            <%= image_tag(product.image) %>

          <%end %>
          <div class="card-body">
            <h5 class="card-title">Product name :<%=product.name %></h5>
            <p class="card-text">Description : <%=product.description %></p>
            <p class="card-text">Price (per kg): <%=product.price %></p>
            <p class="card-text">Available Quantity : <%=product.available_quantity %> kg</p>
            <p class="card-text">Seller <Name></Name>: <%=product.seller.name %></p>
          </div><%if current_user.role=="customer" %>
            <td><%=link_to 'View',product_path(id: product.id) , class:"btn btn-primary" %></td>
          <%end %>
          <%if current_user.role=="seller" %>
            <td><%=link_to 'Edit',edit_product_path(id:product.id) %></td>
          <%end %>
          <%#if current_user.role=="customer" %>
<!--            <td><%#=product.seller.name%></td>-->
          <%#end %>

        </div>
      <br>
    <% end %>

      <%end %>
</div>
<br>

<div class="container-fluid ">

<%if current_user.role=="seller" %>
<%=link_to 'Add new product', new_product_path , class:"btn btn-secondary"%>
  <%end %>
<%if current_user.role=="customer" %>
<%=link_to 'Cart List', cart_index_path , class:"btn btn-secondary"%>
<%end %>
<br><br>
<br><br>
</div>
