


  <div class="wrapper">
  <h1> Add product</h1>
<br>
<%= form_for  @product ,url:{action: :create} do |f|%>

<% if @product.errors.any? %>
      <%=render "home/error" , model: @product %>
<% end %>


  <div class="field">
    <%= f.text_field :name , placeholder: "Name" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :price , placeholder: "Price" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :description , placeholder: "Description" %>
  </div>
  <br>


  <div class="field">
    <%= f.text_field :available_quantity , placeholder: "Available Quantity"%>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :category , placeholder: "Category"%>
  </div>
  <br>

    <div class="field">
    <%= f.file_field :image %>
  </div>
  <br>

  <div class="actions">
    <%#=link_to 'Back',{controller: 'product',action: 'index'} %>
    <%=f.submit 'Add product' , class:"btn btn-secondary" %>
  </div>
  <br>

<% end  %>

  </div>
<%= link_to 'Back', product_index_path ,class:"btn btn-secondary" %>
