
<br><br><br><br>
<div class="wrapper" style="box-shadow: 10px 5px 20px rgba(59, 57, 58, 0.96)">

<h1>Log in</h1>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


<div class="container-fluid">
  <div class="field">
<!--      <strong><%#= f.label :email %><br /></strong>-->
    <%= f.email_field :email ,autofocus: true, autocomplete: "email", placeholder:"Eg : abc@gmail.com" %>
  </div>
<br>

  <div class="field ">
<!--    <strong><%#= f.label :password %><br /></strong>-->
    <%= f.password_field :password ,autocomplete: "current-password" , placeholder:"Enter your password" %>
  </div>
<br>


<br>
<!--  <div class="actions">-->
    <%= f.submit "Log in" , class:"large ui blue button", style:"width: 200px " %>
<!--  </div>-->


<!--  <div class="form-floating mb-2">-->
<!--    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--    <label for="floatingInput">Temp</label>-->
<!--  </div>-->


<% end %>
<br>

  <div class="member center" >

    New user ?! &nbsp <p> </p> <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"> <%=link_to "Sign up here" , new_user_registration_path %> <i class="sign in icon" style="visibility: visible;"></i></a>

  </div>

<%#= render "devise/shared/links" %>
</div>

</div>
