<h2>Log in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="field form-group">
      <strong><%= f.label :email %><br /></strong>
    <%= f.email_field :email, class:"form-control" ,autofocus: true, autocomplete: "email", placeholder:"Eg : abc@gmail.com" %>
  </div>
<br>

  <div class="field form-group">
    <strong><%= f.label :password %><br /></strong>
    <%= f.password_field :password,  class:"form-control" ,autocomplete: "current-password" , placeholder:"Enter your password" %>
  </div>
<br>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<br>
  <div class="actions">
    <%= f.submit "Log in" , class:"btn btn-secondary"%>
  </div>


<!--  <div class="form-floating mb-2">-->
<!--    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--    <label for="floatingInput">Temp</label>-->
<!--  </div>-->


<% end %>
<br>
<%= render "devise/shared/links" %>
